* {
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
  width: 375px;
  height: 950px;
  background: hsl(240, 67%, 45%);
  left: 40vw;
  right: none;
}

h1 {
  position: absolute;
  width: 86.66px;
  height: 53.14px;
  left: 144px;
  top: 50px;
  font-family: "Chivo Mono", monospace; 
  color:   hsl(248, 41%, 97%);

}
